RAG/n8n_workflows/TinkayRAG_Ingesta_V3_Final.json
{
  "name": "TinkayRAG_Ingesta_V3_Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-kt-ingesta",
        "options": {
          "binaryData": false
        }
      },
      "id": "webhook-id",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -608,
        208
      ],
      "webhookId": "fce65f5c-9d56-4048-9787-3d3f1ae438b3"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.url ? 'web' : 'file' }}",
              "value2": "web"
            }
          ]
        }
      },
      "id": "if-id",
      "name": "If Web or File",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -400,
        208
      ]
    },
    {
      "parameters": {
        "command": "=python3 /opt/RAG/implementacion_SARA/Ingesta_PDF_WEB.py --web=\"{{ $json.body.url }}\" --source=\"{{ $json.body.title || 'Web Page' }}\" --negocio=\"tinkay\" --visibilidad=\"publico\" --user=\"{{ $json.body.user || 'admin@tinkay.com' }}\""
      },
      "id": "web-id",
      "name": "Ingesta Web",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -96,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst binaryKey = Object.keys($binary)[0];\nconst item = $binary[binaryKey];\nconst filePath = `/tmp/${item.fileName}`;\nconst buffer = Buffer.from(item.data, 'base64');\nfs.writeFileSync(filePath, buffer);\nreturn { filePath, fileName: item.fileName };"
      },
      "id": "code-save-id",
      "name": "Save File Nodejs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -96,
        304
      ]
    },
    {
      "parameters": {
        "command": "=python3 /opt/RAG/implementacion_SARA/Ingesta_PDF_WEB.py --file=\"{{ $json.filePath }}\" --source=\"{{ $json.fileName }}\" --negocio=\"tinkay\" --visibilidad=\"publico\" --user=\"admin@tinkay.com\""
      },
      "id": "file-id",
      "name": "Ingesta File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        112,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Web or File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Web or File": {
      "main": [
        [
          {
            "node": "Ingesta Web",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save File Nodejs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Nodejs": {
      "main": [
        [
          {
            "node": "Ingesta File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
